
<!DOCTYPE html>
<html>
<head>
     {% load static %}
    <title>Anat Sajan</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>
<br>
<div class="container">
 <div class="row">

    <div class="col-md-3">
    <div class="card card-body h-100 border-info" id="profile-wrapper">
        <img id="profile-pic" src ="{% static '/images/muth.jpg' %}">
        <hr>
        <h4> Hi I am Anat</h4>
        <p>I love to do programming,doing projects.. </p>

    </div>
</div>
    <div class="col-md-9">
        <div class="card card-body h-100 border-info">
            <h4>My Achievements</h4>
            <hr>
            <p> From My school days I had participated in arts English Skit ,In 2 years upto district level,I will do
                doll makking ,paperty making up to state level,I am in +1 & +2 Nss volunteer and after my school days
                in my college life again I had joined in NSS ,3 year services then I became a one of NSS exicutive ,
                we had make for juniors 100 students NSS camp....
            </p>
        </div>

        </div>
</div>
    <br>
    <div class="row">

    <div class="col-md-6">
    <div class="card card-body h-100">
         <h5> About My Studies..</h5>
         <hr>
         <p> My school days are in St Thomas English Medium High Secondary School upto +2 level </p>
         <p> I am graduated, In Bsc Mathematics From MES College Nedumkandam</p>
         <p>  Now I am joined Marian College Kuttikkanam for Master Of Computer Applications </p>
    </div>
</div>
    <div class="col-md-6">
        <div class="card card-body h-100">
         <h6> Hobbies..</h6>
            <hr>
            <p> Reading books</p>
            <p> Cooking</p>
            <p> Hearing Music</p>
            <p> Travelling</p>
            <p> Driving  </p>
        </div>
        </div>
</div>
    <br>

    <div class="row">

    <div class="col-md-6">
    <div class="card card-body h-100">
        <h7>Dream.. </h7>
        <hr>
        <p> After completeing MCA from college my dream is with job need to passout.
            My wishes to do job in outside India.. so mainly I am focusing in
            multinational companies</p>
    </div>
</div>
    <div class="col-md-6">
        <div class="card card-body h-100">
        <h8> Project Experiences..</h8>
            <hr>
            <p> I had done my project is related to mathematics ,1st time I had done a web application
            this exactly by doing this project, I love to study programing my 1st project is
                "Online Concession Card Verification" </p>
        </div>
        </div>
</div>
<br>
</div>

</body>
</html>
